<div id="FAQ">
    <div class="container">
        <div class="heading_title">
            <h3>FAQ</h3>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-9">
                <div class="row">
                    <div class="col-xs-12 col-md-6 FAQuestion">
                        <h4>Getting Around</h4>
                        <ul>
                            <li>
                            <a href="#overnight on boat">Is it possible to stay overnight on boat in Halong bay? </a>
                            </li>
                            <li>
                                <a href="#overnight on boat"> Could you please discribe it? </a>
                            </li>
                            <li>
                                <a href="#motorbike">Can I ride a motorbike in Vietnam?</a>
                            </li>
                            <li>
                                <a href="#kilomettre">Is car rental valued per hour or per kilomettre?</a>
                            </li>
                            <li>
                                <a href="#drive a car">Can I drive a car in Vietnam?</a>
                            </li>
                            <li>
                                <a href="#Sinh Café travel"> What should I do in order to book tour with Dragon Tour travel?</a>
                            </li>
                            <li>
                                <a href="#car rental">What includes in the car rental?</a>
                            </li>
                            <li>
                                <a href="#travel freely">Can I travel freely in Vietnam?</a>
                            </li>
                            <li>
                                <a href="#kaying on Halong Bay">Can I go kaying on Halong Bay?</a>
                            </li>
                            <li>
                                <a href="#motorcycle">Is it safe to ride a motorcycle in Vietnam?</a>
                            </li>
                            <li>
                                <a href="#kayking from Catba">Can I go kayking from Catba island?</a>
                            </li>
                            <li>
                                <a href="#bike type">What is your bike type?</a>
                            </li>
                            <li>
                                <a href="#biking tour">Can you arrange a biking tour in Vietnam?</a>
                            </li>
                            <li>
                                <a href="#tour guide">What is the ability of the tour guide like?</a>
                            </li>
                            <li>
                                <a href="#free time"> Is there any free time in the tour ?</a>
                            </li>
                        </ul>
                        <h4>Health</h4>
                        <ul>
                            <li>
                                <a href="#jet lag">What can I do about jet lag?</a>
                            </li>
                            <li>
                                <a href="#about malaria">What should we do about malaria ?</a>
                            </li>
                            <li>
                                <a href="#medical emergencies">How will medical emergencies be dealt with?</a>
                            </li>
                            <li>
                                <a href="#hospitalised">What if I am hospitalised or become incapacitated?</a>
                            </li>
                            <li>
                                <a href="#emergency"> What will happen if there is an emergency?</a>
                            </li>
                            <li>
                                <a href="#the climate">What is the main difference in the climate of Vietnam and that of my country?</a>
                            </li>
                        </ul>

                    </div>

                    <div class="col-xs-12 col-md-6 FAQuestion">
                        <h4>General</h4>
                        <ul>
                            <li>
                                <a href="#photography">Are there any restrictions on photography in Vietnam?</a>
                            </li>
                            <li>
                                <a href="#antiques"> Can I buy antiques in Vietnam?</a>
                            </li>
                            <li>
                                <a href="#furniture or paintings">How can I take large items home with me – furniture or paintings, for example?</a>
                            </li>
                            <li>
                                <a href="#Internet facilities">Are there Internet facilities in Vietnam?</a>
                            </li>
                            <li>
                                <a href="#wonderful"> The artist you took me to was wonderful. I want to give him a gift. Any ideas?</a>
                            </li>
                            <li>
                                <a href="#United States">I am from the United States. Will I face any hostility because of the war?</a>
                            </li>
                            <li>
                                <a href="#towards drugs">What is the attitude towards drugs in Vietnam?</a>
                            </li>
                        </ul>
                        <h4>Money</h4>
                        <ul>
                            <li>
                                <a href="#local currency">Where can I change my currency for local currency?</a>
                            </li>
                            <li>
                                <a href="#I use a credit"> Can I use a credit card to get cash in Vietnam?</a>
                            </li>
                            <li>
                                <a href="#I pay by credit">Can I pay by credit card in Vietnam?What is the payment method for the balance ?</a>
                            </li>
                            <li>
                                <a href="#a lot of local currency">What if I have a lot of local currency left over when I leave?</a>
                            </li>
                            <li>
                                <a href="#deposit">What is the payment method for deposit?</a>
                            </li>
                            <li>
                                <a href="#travellers’ cheques">What about travellers’ cheques?</a>
                            </li>
                        </ul>
                        <h4>Food And Drinnk</h4>
                        <ul>
                            <li>
                                <a href="#vegetarian">What do you serve if I am a vegetarian?</a>
                            </li>
                            <li>
                                <a href="#cheap air tickets"> How to book a cheap air tickets to Vietnam?</a>
                            </li>
                            <li>
                                <a href="#book air tickets">Can we book air tickets through Sinh café Travel?</a>
                                
                            </li>
                            <li>
                                <a href="#air tickets">How to buy air tickets to Vietnam?</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <h4 style="color : deepskyblue">Getting Arround</h4>

                        <p><strong>Q. Can I<a name="travel freely">travel freely</a> in Vietnam?</strong></p>
                        <p><strong>A. </strong>Yes, you can travel freely in Vietnam. There’s some sensible places ( near the border ) you need to apply for permission
                        before visitting. You had better contact our office for any instruction, or you can book part of the services through our
                        company like car rental or hotel. The other you can pay by your self</p><br>
                        <p><strong>Q.  Can I ride a <a name="motorbike">motorbike</a> in Vietnam?</strong> </p>
                        <p>
                            <strong>A. </strong> Yes, you can ride a motorbike if you have motor bike driving license. You had better learn about the area before. Or you
                            can rent our tour guide to go with you.
                        </p><br>
                        <p>
                            <strong>Q. Is it safe to ride a <a name="motorcycle">motorcycle</a> in Vietnam?</strong>
                        </p>
                        <p>
                            <strong>A. </strong>No,it isn’t . Many Vietnamese people don’t have proper knowledge and awareness of the traffic law. Road condition is bad
                            and dusty. You had better take a ride on a short segment below 50 km. The rest you can use the car to continue the trip.
                        </p>
                        <br>
                        <p>
                            <strong>Q. Can I <a name="drive a car">drive a car</a> in Vietnam?</strong>
                        </p>
                        <p>
                            <strong>A. </strong>Yes, you can.It is reccommended for you to rent a car in Tourist company . It’s safe. And you can have thoughful care from
                            the driver.Tourists who are not used to the traffic in Vietnam find it difficult to drive.
                        </p>
                        <br>
                        <p>
                            <strong>Q. Is car rental valued per hour or per <a name="kilomettre">kilomettre</a>?</strong>
                        </p>
                        <p>
                            <strong>A. </strong> Car rental is valued per km and time. We can provide you exact the costs on the scheduled itineraries.
                        </p>
                        <br>
                        <p>
                            <strong>Q. What includes in the <a name="car rental">car rental?</a>?</strong>
                        </p>
                        <p>
                            <strong>A. </strong> Car rental includes tax, gas, toll fees, driver’s personal expenses.
                        </p>
                        <br>
                        <p>
                            <strong>Q.  What should I do in order to book tour with <a name="Viet Nam Dragon">Viet Nam Dragon travel</a></strong>
                        </p>
                        <p>
                            <strong>A. </strong>After an agreement on the tour program and quotation, you confirm your booking for the tour by paying deposit. We requires
                            20% of the total amount as deposit. The balance will be settled upon your arrival Vietnam. After receiving it, we proceed
                            all the bookings and send you final confirmation sooonest.
                        </p>
                        <br>
                        <p>
                            <strong>Q. Is it possible to stay <a name="overnight on boat">overnight on boat</a> in Halong bay? Could you please discribe it?</strong>
                        </p>
                        <p>
                            <strong>A. </strong>Yes, definitely. The junk have 5- 7 rooms, bathroom ensuite. Each rooms have twin beds or double bed, fan, toilet, hot water.
                            Air conditioning in the room is available at your request. Each junk have dining room and sitting room ( 20 – 30 m2). You
                            can go the the upper bunk for sightseeing or sunbathing. We guaratee the hygene and good services on the boat.
                        </p>
                        <br>
                        <p>
                            <strong>Q. Can I go <a name="kaying on Halong Bay">kaying on Halong Bay</a></strong>
                        </p>
                        <p>
                            <strong>A. </strong>Yes, you can go kayaking following the 1, 2 or 3 days tours from Hanoi. We have composite kayaks and professional guide available.
                        </p>
                        <br>
                        <p>
                            <strong>Q. Can I go <a name="kayking from Catba">kayking from Catba </a> island?</strong>
                        </p>
                        <p>
                            <strong>A. </strong>yes, We can arrange 1 day kayaking and swimming on Lan Ha bay.
                        </p>
                        <br>
                        <p>
                            <strong>Q. Can you arrange a <a name="biking tour">biking tour</a> in Vietnam?</strong>
                        </p>
                        <p>
                            <strong>A. </strong>Yes, we can. It depends on your demands, we can arrange short biking tour in and arround Hanoi, Hue, Saigon or biking tour
                            throughout Vietnam. We can arrange biking tour guide to go with you. We also arrange a minibus, if you don’t want to cycle,
                            you can use the minibus instead.
                        </p>
                        <br>
                        <p>
                            <strong>Q. What is your <a name="bike type">bike type</a>?</strong>
                        </p>
                        <p>
                            <strong>A. </strong>The bikes are new and nice . They have 21 gears. Any way, you can bring your own bike with you.
                        </p>
                        <br>
                        <p>
                            <strong>Q. What is the ability of the <a name="tour guide">tour guide</a> like?</strong>
                        </p>
                        <p>
                            <strong>A. </strong>Our tour guides are experienced, with National Certificate from National Tourism Board. - Tourguides are always received
                            good feedback from our customers.
                        </p>
                        <br>
                        <p>
                            <strong>Q. Is there any <a name="free time">free time</a> in the tour ?</strong>
                        </p>
                        <p>
                            <strong>A. </strong>yes, but not many. Ussually after dinner. You can request more free time for shopping.
                        </p>
                        <br>
                <h4 style="color : deepskyblue">Flights and Tours</h4>
                
                <p>
                    <strong>Q. How to buy <a name="air tickets">air tickets</a> to Vietnam?</strong></p>
                <p>
                    <strong>A. </strong>There are many airlines which have direct flights to Vietnam like: Vietnam airlines,Air France, American Airlines, Thai Airway,
                    Japanese airlines, Singapre Airlines, Malaysia Airlines. Please contact with the airlines agency to book the airtickets.
                </p>
                <br> 
                <p>
                    <strong>Q. How to book a <a name="cheap air tickets">cheap air tickets</a> to Vietnam?</strong>
                </p>
                <p>
                    <strong>A. </strong>There are many websitea and airline agencies which provides air ticketting. You had better study serveral airlines to find
                    the suitable one.
                </p>
                <br>
                <p>
                    <strong>Q. Can we <a name="book air tickets">book air tickets</a> through Viet Nam Dragon Travel?</strong>
                </p>
                <p>
                    <strong>A. </strong>Yes, you can book air tickets to Vietnam through our company and receive airtickets at your country. The airfare will be
                    higher cause we have to pay for the fees when issuing the tickets in foreign country. The best way is to book the air tickets
                    for yourself.
                </p>
                <br>
                <h4 style="color : deepskyblue">Food and Drink</h4>
                <p>
                    <strong>Q. What do you serve if I am a <a name="vegetarian">vegetarian</a>?</strong>
                </p>
                <p>
                    <strong>A. </strong>In this case, please advise us before so that we can order a vegetarian menu during your trip in Vietnam. Vietnam is famous
                    for Vegetarian foods, tropical fruits. We are willing to serve at your taste.
                </p>
                <br>
                <h4 style="color : deepskyblue">General</h4>
                <p>
                    <strong>Q. Are there any restrictions on <a name="photography">photography</a> in Vietnam?</strong>
                </p>
                <p>
                    <strong>A. </strong>Yes. Photography in or near military installations, airports or similar locations is prohibited. Anyone caught doing so will
                    have the film, and possibly the camera or camcorder, confiscated and may be arrested.
                </p>
                <br>
                <p>
                    <strong>Q. Can I buy <a name="antiques">antiques</a> in Vietnam?</strong>
                </p>
                <p>
                    <strong>A.</strong>A qualified yes. However, exporting an artefact with cultural significance requires an official licence. Without a licence,
                    anything old is liable to be confiscated at the airport.
                </p><br>
                <p>
                    <strong>Q.  How can I take large items home with me – <a name="furniture or paintings">furniture or paintings</a>, for example?</strong>
                </p>
                <p>
                    <strong>A.</strong> We are also registered for export and import activities. We will give you an ‘at cost’ quotation, and arrange for the items
                    to be properly crated and licensed for export.
                </p>
                <br>
                <p>
                    <strong>Q. Are there <a name="Internet facilities">Internet facilities</a> in Vietnam?</strong>
                </p>
                <p>
                    <strong>A.</strong>Yes, plenty in cities and large towns, but not in rural areas. Most large hotels have internet access, and Internet cafes
                    are commonplace and cheap.
                </p>
                <br>
                <p>
                    <strong>Q. The artist you took me to was <a name="wonderful">wonderful</a>. I want to give him a gift. Any ideas?</strong>
                </p>
                <p>
                    <strong>A.</strong>This is a common query. Rather than make general suggestions, we will try to suggest something that will be really appreciated,
                    and purchase it on your behalf, if necessary.
                </p>
                <br>
                <p>
                    <strong>Q. I am from the <a name="United States">United States</a>. Will I face any hostility because of the war?</strong>
                </p>
                <p>
                    <strong>A.</strong>You will be surprised by the warmth of your reception. We Vietnamese live in the present and the future – the war is history.
                    We warmly welcome people from all countries and races.
                </p>
                <br>
                <p>
                    <strong>Q. What is the attitude <a name="towards drugs"> towards drugs</a> in Vietnam?</strong>
                </p>
                <p>
                    <strong>A.</strong>The law is strict in Vietnam. The use of illegal narcotics is strictly forbidden, and dealers and persons caught trafficking,
                    whether Vietnamese or foreigner, face excecution. Don't risk it under any circumstances!
                </p>
                <br>
                <h4 style="color : deepskyblue">Money</h4>
                <p><strong>Q. Can <a name="I use a credit">I use a credit</a> to get cash in Vietnam?</strong></p>
                <p><strong>A. </strong> Yes, You can withdraw cash at any ATM in big cities such as: Hanoi, Hochiminh city, Hue, Hoian, Halong, Haiphong, Danang,
                Nhatrang, Buon Ma Thuot , Vung tau, Cantho with commission</p><br>
                <p>
                    <strong>Q. Can <a name="I pay by credit">I pay by credit </a> card in Vietnam?</strong>
                </p>
                <p>
                    <strong>A. </strong>Yes, You can pay by credit card with 3% commission for Visa and Master, 4% commission for Amex. You can pay at shops and
                    hotels in big cities, commercial centre and tourist sites.
                </p>
                <br>
                <p>
                    <strong>Q.  What about <a name="travellers’ cheques">travellers’ cheques</a></strong>
                </p>
                <p>
                    <strong>A. </strong>You can change into USD or Vietnamese dong with commission from 1%-3% at the banks in big cities. Travellers’ cheques can
                    be used to pay for the roomcharge and other tourism services.
                </p>
                <br>
                <p>
                    <strong>Q. Where can I change my currency for <a name="local currency"> local currency</a>?</strong>
                </p>
                <p>
                    <strong>A. </strong>You can change your currency for local currency at the airport, banks, Jewerllery shops. You should prepare some cash in
                    USD and Euros ( 50- 100 domination) for better exchange rates.
                </p>
                <br>
                <p>
                    <strong>Q.  What if I have <a name="a lot of local currency">a lot of local currency</a> left over when I leave?</strong>
                </p>
                <p>
                    <strong>A. </strong>You can change local currency to the currency you brought in only by showing the yellow customs slip that you were given
                    on arrival. The amount must be less than the original.
                </p>
                <br>
                <p>
                    <strong>Q. What is the payment method for <a name="deposit">deposit</a>?</strong>
                </p>
                <p>
                    <strong>A. </strong>You can pay by credit card or bank transfer or you can use the service of Western Union . Please read our terms and conditions
                    for more details.
                </p>
                <br>
                <p>
                    <strong>Q. </strong>What is the payment method for the <a name="balance">balance</a>?
                </p>
                <p>
                    <strong>A. </strong>After paying for deposit, you can settle the balance at our office in Hanoi or in Hochiminh city by cash or credit card.
                    Cash ( Euros or US dollar ) is preferred. Or you can bank transfer the balance directly to our bank account before travelling
                    to Vietnam.
                </p>
                <br>
                <h4 style="color : deepskyblue">Health</h4>
                <p>
                    <strong>Q. What is the main difference  in <a name="the climate"> the climate</a> of Vietnam and that of my country?</strong>
                </p>
                <p>
                    <strong>A. </strong>Vietnam is both hot and humid. Combined, they make visitors from temperate countries sweat profusely. Drinking plenty of
                    water and good sun protection is essential.
                </p>
                <br>
                <p>
                    <strong>Q.  What can I do about <a name="jet lag">jet lag</a>?</strong>
                </p>
                <p>
                    <strong>A. </strong>Not much, really. A stop-over en-route, or a rest day on arrival helps. It’s important to try to sleep and wake according
                    to local time, even on the aeroplane.
                </p>
                <br>
                <p>
                    <strong>Q. </strong> What will happen if there is an <a name="emergency">emergency</a>?
                </p>
                <p>
                    <strong>A. </strong>With VietnamOpentour Sinhtravel, your guide will always have a mobile ‘phone and a means of summoning immediate assistance.
                    You will also have direct telephone access Head office.
                </p>
                <br>
                <p>
                    <strong>Q. How will <a name="medical emergencies">medical emergencies</a> be dealt with?</strong>
                </p>
                <p>
                    <strong>A. </strong> You will be immediately taken to the nearest international clinic or hospital for an immediate examination and appropriate
                    treatment according to the terms of your insurance.
                </p>
                <br>
                <p>
                    <strong>Q. What if I am <a name="hospitalised">hospitalised </a> or become incapacitated?</strong>
                </p>
                <p>
                    <strong>A. </strong>If you have supplied us with the details of your insurance, we will contact the company on your behalf and assist in any
                    way we can.
                </p>
                <br>
                <p>
                    <strong>Q. What should we do <a name="about malaria">about malaria</a> ?</strong>
                </p>
                <p>
                    <strong>A. </strong>Malaria happens in the mountainous area. All the hotels in the area have mosquitoes net. We often oganise tours to the rural
                    area but there’s no malaria cases. Only local people have risks to this desease.
                </p>
                <br>
            </div>
            <div class="col-xs-12 col-md-3">
                <h4 style="border-bottom : 1px dashed  black">CATEGORY TOURS</h4>
                <select name="maximenuckdropselect" class="input-medium" onchange="top.location.href=this.options[this.selectedIndex].value"
                    class="">
                    <option value="/">Home</option>
                    <option value="/vietnam-tours">VietNam Tours</option>
                    <option value="/vietnam-tours/daily-tours">- Daily Tours</option>
                    <option value="/vietnam-tours/vietnam-package-tours">- Vietnam Package Tours</option>
                    <option value="/vietnam-tours/vietnam-adventure-tours">- Adventure Tours</option>
                    <option value="/vietnam-tours/halong-bay-cruise">- Halong bay cruises</option>
                    <option value="/vietnam-tours/mekong-delta-tours">- Mekong Delta Tours</option>
                    <option value="/vietnam-tours/opentour-budget-travel">- Opentour &amp; Budget Travel</option>
                    <option value="/vietnam-tours/exclusive-tours">- Exclusive Tours</option>
                    <option value="/vietnam-tours/muslam-tours">- Muslam Tours</option>
                    <option value="/vietnam-tours/cycling-trekking-tours">- Cycling &amp; Trekking Tours</option>
                    <option value="/vietnam-tours/vietnam-golf-holidays">- Golf Holidays</option>
                    <option value="/vietnam-tours/eco-tours">- Eco Tours</option>
                    <option value="/vietnam-tours/vietnam-beach-holidays">- Beach Holidays</option>
                    <option value="/vietnam-tours/vietnam-culinary-tours">- Culinary Tours</option>
                    <option value="/vietnam-tours/indochia-tours">- Indochina Tours</option>
                    <option value="/vietnam-tours/responsible-travel">- Responsible Travel</option>
                    <option value="/package-tours">Package Tours</option>
                    <option value="/package-tours/vietnam-tours">- Vietnam Tours</option>
                    <option value="/package-tours/indochina-tours">- Indochina Tours</option>
                    <option value="/package-tours/cambodia-tours">- Cambodia Tours</option>
                    <option value="/package-tours/laos-tours">- Laos Tours</option>
                    <option value="/package-tours/myanmar-tours">- Myanmar Tours</option>
                    <option value="/daily-tours">Daily Tours</option>
                    <option value="/daily-tours/daily-tours-from-hanoi">- Daily Tours from Hanoi</option>
                    <option value="/daily-tours/daily-tours-from-hochiminh-city">- Daily Tours from Hochiminh city</option>
                    <option value="/daily-tours/daily-tours-from-hoian">- Daily Tours from Hoian</option>
                    <option value="/daily-tours/daily-tours-from-danang">- Daily Tours from Danang</option>
                    <option value="/daily-tours/daily-tours-from-nhatrang">- Daily Tours from Nhatrang</option>
                    <option value="/daily-tours/daily-tours-from-hue">- Daily Tours from Hue</option>
                    <option value="/daily-tours/daily-tours-from-da-lat">- Daily Tours From DaLat</option>
                    <option value="/cruises">Cruises</option>
                    <option value="/cruises/cruise-halong-bay">- Cruise Halong Bay</option>
                    <option value="/cruises/cruise-mekong-delta-tours">- Cruise Mekong Delta Tours</option>
                    <option value="/cruises/boat-trip-hoian-river">- Boat trip Hoian River</option>
                    <option value="/cruises/cruise-nhatrang">- Cruise Nhatrang</option>
                    <option value="/cruises/cruise-cambodia">- Cruise Cambodia</option>
                    <option value="/cruises/cruise-laos">- Cruise Laos</option>
                    <option value="/adventures">Adventures</option>
                    <option value="/exclusive-tours">Exclusive Tours</option>
                    <option value="/exclusive-tours/home-stay-thien-phuc">- Home stay Thien Phuc</option>
                    <option value="/exclusive-tours/tanmai-island-on-black-river-hoabinh">- TanMai Island on Black River HoaBinh</option>
                    <option value="/exclusive-tours/na-hang-chiem-hoa">- Na Hang – Chiem Hoa</option>
                    <option value="/exclusive-tours/eco-red-river-tour">- Eco Red River tour</option>
                    <option value="/open-tours">Open Tours</option>
                    <option value="/special-offers">Special offers</option>
                    <option value="/special-offers/vietnam-tour-set-departure-12-days">- Vietnam Tour set departure 12 days</option>
                    <option value="/special-offers/vietnam-tour-set-departure-14-days">- Vietnam Tour set departure 14 days</option>
                    <option value="/special-offers/vietnam-tour-set-departure-16-days">- Vietnam Tour set departure 16 days</option>
                </select>
            
                <div class="group_gallery">
                    <p>
                        <strong> Galleries</strong>
                    </p>
                    <ul>
                        <li>
                            <a href="">Photos Gallery</a>
                        </li>
                        <li>
                            <a href="">Clients photos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>