<div id="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                
                <div id="slideIndexBanner" class="carousel slide" data-ride="carousel">
                    
                    <div class="carousel-inner">
                        <div class="item">
                            <img src="http://vietnamtourism.gov.vn/images/2015/MySon.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="item">
                            <img src="http://www.littlestepsasia.com/sites/default/files/article/hero/da_nang_main.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="item active">
                            <img src="http://www.vietnamhoneymoon.com/wp-content/uploads/2017/11/hue-imperial-city-vietnam-1.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#slideIndexBanner" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#slideIndexBanner" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                
            </div>

            <div class="col-xs-12 col-md-3 right-content-banner">
                <div class="searchForm">
                    <h5>Where Would You Like To Go?</h5>
                    
                    <form action="" method="POST" role="form">
                    
                        <div class="form-group">
                            <select id="country_id" name="country_id" class="input-medium">
                                <option value="0">Select country</option>
                                <option value="38">Cambodia</option>
                                <option value="117">Laos</option>
                                <option value="147">Myanmar</option>
                                <option value="230">Vietnam</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select id="dest_id" name="dest_id" class="input-medium">
                                <option value="0">Select Destination</option>
                                <option value="459">Ha Long</option>
                                <option value="460">Ha Noi</option>
                                <option value="461">Hue</option>
                                <option value="462">Hoi An</option>
                                <option value="463">Nha Trang</option>
                                <option value="464">Da Lat</option>
                                <option value="465">Ho Chi Minh</option>
                                <option value="466">My Tho</option>
                                <option value="467">Phan Thiet</option>
                                <option value="468">Da Nang</option>
                                <option value="469">Cat Ba</option>
                                <option value="470">Vinh Long</option>
                                <option value="471">Quy Nhon</option>
                                <option value="472">Mekong Delta</option>
                                <option value="473">Sapa</option>
                                <option value="474">Quang Binh</option>
                                <option value="475">Phong Nha</option>
                                <option value="476">My Son</option>
                                <option value="477">Buon Me Thuot</option>
                                <option value="478">Pleiku</option>
                                <option value="479">Hoa Binh</option>
                                <option value="480">Son La</option>
                                <option value="481">Lai Chau</option>
                                <option value="482">Dien Bien</option>
                                <option value="483">Ninh Binh</option>
                                <option value="484">Bac Ninh</option>
                                <option value="485">Mai Chau</option>
                                <option value="486">Quang Tri</option>
                                <option value="487">Nam Dinh</option>
                                <option value="488">Cu Chi Tunnel</option>
                                <option value="489">Cao Bang</option>
                                <option value="490">Lang Son</option>
                                <option value="492">BaBe Lake</option>
                                <option value="493">Ban Gioc waterfalls</option>
                                <option value="494">Ha Giang</option>
                                <option value="495">Tuyen Quang</option>
                                <option value="496">Lao Cai</option>
                                <option value="497">Fansifan Mountain</option>
                                <option value="498">CucPhuong National Park</option>
                                <option value="499">Pu Luong</option>
                                <option value="500">Cat Tien National Park</option>
                                <option value="501">Siemreap</option>
                                <option value="502">Angkor Wat</option>
                                <option value="503">Luang Prabang</option>
                                <option value="504">Hoa Lu</option>
                                <option value="505">Tam Coc</option>
                                <option value="506">Can Tho</option>
                                <option value="508">Chau Doc</option>
                                <option value="509">Phnom Penh</option>
                                <option value="511">Ben Tre</option>
                                <option value="513">Cao Lanh</option>
                                <option value="514">Soc Trang</option>
                                <option value="516">Ha Tien</option>
                                <option value="517">Tay Ninh</option>
                                <option value="518">Vung Tau</option>
                                <option value="519">Bich Dong</option>
                                <option value="520">Hai Duong</option>
                                <option value="521">Pakse</option>
                                <option value="522">Lang Co Beach</option>
                                <option value="523">Ha Nam</option>
                                <option value="524">Phu Quoc Island</option>
                                <option value="525">Vientiane</option>
                                <option value="526">Vang Vieng</option>
                                <option value="527">Xieng Khuang</option>
                                <option value="528">Oudomxay</option>
                                <option value="529">LuongNamTha</option>
                                <option value="530">Muang Sing</option>
                                <option value="531">Don Khong Island</option>
                                <option value="532">Sa Dec</option>
                                <option value="533">Yangon</option>
                                <option value="534">Pindaya</option>
                                <option value="535"> Kyaikhtiyo</option>
                                <option value="536">Monywa</option>
                                <option value="537">Old Bagan</option>
                                <option value="538">Mandalay</option>
                                <option value="539">Heho</option>
                                <option value="540">Inle Lake</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select id="cat_id" name="cat_id" class="input-medium">
                                <option value="0">Select Category</option>
                                <option value="148">Scorpion Cruise</option>
                                <option value="149">Imperial Cruise</option>
                                <option value="150">Legacy Cruise</option>
                                <option value="151">Lavender Cruise</option>
                                <option value="152">Alova Cruise</option>
                                <option value="137">Golden Cruise</option>
                                <option value="138">Orchid Cruises</option>
                                <option value="139">Grayline Halong</option>
                                <option value="140">Huong Hai Junks</option>
                                <option value="132">Bhaya Cruise</option>
                                <option value="141">Royal Wings Cruise</option>
                                <option value="142">Calypso Cruiser</option>
                                <option value="143">Indochinasails Cruise</option>
                                <option value="144">Dragon Legend Cruise</option>
                                <option value="145">Vspirit Cruises</option>
                                <option value="146">Swan Cruise Halongbay</option>
                                <option value="147">Sun Legend Cruise</option>
                                <option value="130">Mekong Eyes Cruise</option>
                                <option value="129">Le Cochinchine Cruises</option>
                                <option value="127">Myanmar tours</option>
                                <option value="133">Paradise Luxury Cruises</option>
                                <option value="135">Huong Hai Sealife Cruise</option>
                                <option value="136">Au Co Cruise</option>
                                <option value="106">Eco Tours</option>
                                <option value="107">Indochina Tours</option>
                                <option value="108">Mekong Delta Tours</option>
                                <option value="110">Northern Muslim Tours</option>
                                <option value="111">Southern Muslim Tours</option>
                                <option value="112">Golf Holidays</option>
                                <option value="113">Boat Trip In HoiAn River</option>
                                <option value="114">Cruise Cambodia</option>
                                <option value="115">Cruise Laos</option>
                                <option value="116">Open Tours</option>
                                <option value="117">Beach Holidays</option>
                                <option value="118">Bike Tours</option>
                                <option value="120">Starlight Cruises</option>
                                <option value="121">Oriental Sails</option>
                                <option value="122">Syrena Cruise HaLong</option>
                                <option value="123">Culinary Tours</option>
                                <option value="124">Cambodia Tours</option>
                                <option value="125">Laos Tours</option>
                                <option value="105">Cycling &amp; Trekking Tours</option>
                                <option value="101">Special Offers</option>
                                <option value="100">Exclusive Tours</option>
                                <option value="99">Daily Tours From DaLat</option>
                                <option value="102">Daily tours from Ho Chi Minh</option>
                                <option value="104">Adventure Tours</option>
                                <option value="103">Daily tours from Hoi An</option>
                                <option value="97">Daily Tours from Danang</option>
                                <option value="98">Daily Tours from Nhatrang</option>
                                <option value="96">Daily Tours from Hue</option>
                                <option value="94">VietNam Package</option>
                                <option value="95">Daily tours from Hanoi</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <select id="duration" name="duration" class="input-medium">
                                <option value="" selected="selected">Select duration</option>
                                <option value="1">Excursion</option>
                                <option value="2">2 days</option>
                                <option value="3">3 days</option>
                                <option value="4">4 days</option>
                                <option value="5">5 days</option>
                                <option value="6">6 days</option>
                                <option value="7">7 days</option>
                                <option value="8">8 days</option>
                                <option value="9">9 days</option>
                                <option value="10">10 days</option>
                                <option value="11">11 days</option>
                                <option value="12">12 days</option>
                                <option value="13">13 days</option>
                                <option value="14">14 days</option>
                                <option value="15">15 days</option>
                                <option value="16">16 days</option>
                                <option value="17">17 days</option>
                                <option value="18">18 days</option>
                                <option value="19">19 days</option>
                            </select>
                        </div>
                    
                        
                    
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                    
                </div>

                {{!-- <div class="right-info">
                    <p><img src="http://sinhcafe.com/images/icon-contact/phone-icon.png" alt=""> 024 3926 4555</p>
                    <p><img src="http://sinhcafe.com/images/icon-contact/email-icon.png" alt="">vietnamdragontours@gmail.com</p>
                </div> --}}
            </div>
        </div>
    </div>
    <!--Group button-->
    <div class="group-button container">
        
        <button type="button" class="btn btn-primary">Travel In Small Group</button>
        <button type="button" class="btn btn-primary">Why Viet Nam</button>
        <button type="button" class="btn btn-primary">Why Travel With VNDragonTour</button>
        <button type="button" class="btn btn-primary">Prepare Your Trip</button>
        <button type="button" class="btn btn-primary">Customized Your Trip</button>
        <button type="button" class="btn btn-primary">Useful Tourist Sites</button>
        <button type="button" class="btn btn-primary">Tips</button>
    </div>

    <!--About us-->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="mod-wrapper clearfix">
                    <div class="mod-content clearfix">
                        <div class="mod-inner clearfix">
                
                            <div class="sptab_red" id="sptab206">
                                <div class="tabs_buttons">
                                    <div class="tabs_mask">
                                        <ul class="tabs_container">
                                            <li class="tab first-tab">
                                                <span id="our_history" class="sptab-title">Our History</span>
                                            </li>
                                            <li class="tab active">
                                                <span id="why_choose_us" class="sptab-title">Why Choose Us</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="items_mask">
                                    <div class="">
                                        <div class="tab-padding">
                
                
                
                                            <div class="custom" id="history">
                                                <p align="center">
                                                    <strong>With more than 15 years experience in Travel</strong>
                                                </p>
                                                <p align="justify">The Company “Sinhcafe Travel –VietnamOpentour” provides detail information in a wide range
                                                    of media. Our aim is to help you make your choice possible, especially for those who
                                                    like adventurous travel to explore Vietnam.</p>
                                                <p align="justify">As a Travel Agent with the headquarter in Hanoi, our company is recommended by the newest
                                                    Guide Book, Vietnam Routard , Lonely Planet,The Rough Guide to Vietnam and Reisen Know
                                                    How</p>
                                            </div>
                                            <div style="clear:both"></div>
                                        </div>
                                    </div>
                                    <div style="" class="active">
                                        <div class="tab-padding">
                
                
                
                                            <div class="custom" id="textChooseUs">
                                                <p style="text-align: justify;">- Contact with a local tour operator that will get better price with good services
                                                    <br>We have an office in Hanoi capital, Hochiminh city, Danang city and the opentour system
                                                    booking office throughout country so that we can handle all tour sercives in Vietnam.</p>
                                                <p style="text-align: justify;">- With our knowledges, experiences staffs, tours guides, drivers , we are sure to arrange
                                                    a real adventure trip for you in Vietnam with tops destinations follows : Sapa, Halong
                                                    bay, Hagiang , CaoBang, Sonla ,Maichau, KonTum, BuonMathuot and Mekong delta.</p>
                                                <p style="text-align: justify;">- Our company runs under Vietnam Tourism Department Travel 01-014/20 14/TCDL - GPLHQT, was
                                                    guaranteed by Vietnam State. With many others thousand traveler’s recommendations and
                                                    experiences, our staff will make you satisfied when traveling in Vietnam.</p>
                                                <p style="text-align: justify;">-Contact us as your operator in Vietnam before your arrival, you will be able to get all
                                                    the confirmations of tour programs, hotels reservations, prices, flights and train booking,
                                                    you will save time and money when visiting Vietnam with.</p>
                                            </div>
                                            <div style="clear:both"></div>
                                            <script>
                                                $(document).ready(function(){
                                                    $(".first-tab").onclick(function(){
                                                        $("#textChooseUs").css("display":"none");
                                                    })
                                                })
                                            </script>
                                        </div>
                                    </div>
                                </div>
                
                            </div>
                 </div>
                    </div>
                </div>

                <div class="getTravelAdvise text-center">
                    <h3>Get free Vietnam travel advice now.</h3>
                    <form action="" method="POST" class="form-inline" role="form">
                    
                        <div class="form-group">
                            <label class="sr-only" for="">Email</label>
                            <input type="email" class="form-control" id="" placeholder="Input field" name="email">
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="">Resquest</label>
                            <input type="text" class="form-control" id="" placeholder="Input field" name="request">
                        </div>
                    
                        
                    
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="feedback_commnent">
                    <div class="feedback_1">
                        <p>
                            <em>Hi, Ms Chi, how are you? Yes, we arrived home on the 5 th of April. Now the jet let time is an issue. Thanks for the
                                concern. The Viet Nam tour is very remarkable for us. We really enjoyed the whole trip from North to South. So did
                                our friends. We are so impressed the services of Hotels, food from hotels was excellent,pick up from air port, services
                                of buses, tour guides. We thank you for your ...</em>
                        </p>
                        <p>
                            <em>
                                <strong>MR Ben</strong>
                            </em>
                        </p>
                        <p>
                            <em>Ngay 12 thang 12</em>
                        </p>
                    </div>

                    <div class="feedback_2">
                        <p>
                            <em>Hi, Ms Chi, how are you? Yes, we arrived home on the 5 th of April. Now the jet let time is an issue. Thanks for the
                                concern. The Viet Nam tour is very remarkable for us. We really enjoyed the whole trip from North to South. So did
                                our friends. We are so impressed the services of Hotels, food from hotels was excellent,pick up from air port, services
                                of buses, tour guides. We thank you for your ...</em>
                        </p>
                        <p>
                            <em>
                                <strong>MR Ben</strong>
                            </em>
                        </p>
                        <p>
                            <em>Ngay 12 thang 12</em>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Some Viet Nam Tour-->
    <div class="someVietNamTour">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4 text-center">
                    <div class="thumbnail">
                        <a href="">
                            <img src="https://dnqtravel.com/wp-content/uploads/2018/06/Ba-Na-Hills.jpg" alt="" class="img-responsive">
                            <div class="caption">
                                <h4>VietNam Tour Set Departure 12 Days</h4>
                                <p><strong>Price : </strong>888$</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 text-center">
                    <div class="thumbnail">
                        <a href="">
                            <img src="http://tntourist.net/wp-content/uploads/2018/03/ba-na1.jpg" alt="" class="img-responsive">
                            <div class="caption">
                                <h4>VietNam Tour Set Departure 14 Days</h4>
                                <p>
                                    <strong>Price : </strong>1064$</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 text-center">
                    <div class="thumbnail">
                        <a href="">
                            <img src="http://sinhcafe.com/images/destinations/Hanoi/Ngoc-Son-Temple.jpg" alt="" class="img-responsive">
                            <div class="caption">
                                <h4>VietNam Tour Set Departure 16 Days</h4>
                                <p>
                                    <strong>Price : </strong>1268$</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Discover Viet Nam Yourself-->
    <div class="discoverVietNamYourSelf">
        <div class="container">
            <div class="heading_title">
                <h3>DISCOVER VIETNAM BY YOUR STYLES</h3>
            </div>
             {{#each DisVnByStyle}}
            <div class="row">
                 {{#each this}}
                <div class="col-xs-12 col-md-3 text-center">
                    
                    <div class="thumbnail">
                        
                        <a href="">
                            <img src="{{this.image}}" alt="" class="img-responsive">
                            <div class="caption">
                                <h4>{{this.titleTour}}</h4>
                                
                            </div>
                        </a>
                        
                    </div>
                    
                </div>
                 {{/each}}
            </div>
             {{/each}}
        </div>
    </div>

    <div class="feature-news-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="heading_title">
                        <h3>TRAVEL VIDEO</h3>
                    </div><br>
                    <iframe width="762" height="415" src="https://www.youtube.com/embed/7jNSTXFSGCE" frameborder="0" allow="autoplay; encrypted-media"
                        allowfullscreen></iframe>
                </div>

                <div class="col-xs-12 col-md-4">
                    <div class="heading_title">
                        <h3>TOP DESTINATIONS</h3>
                    </div>
                    <br>
                    <div>
                        <h3>goolge map</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>