<div id="term-condition">
    <div class="container">
        <div class="heading_title">
            <h3>Terms And Conditions</h3>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-9">
                <p><strong>Pricing :</strong>
                </p>
                <p>Prices are according to category of accommodation , vehicles and others services mentioned on each tour programme.</p>
                <p><strong>Reservations</strong></p>
                <p>The reservation should be sent by fax, mail, or e-mail to :</p>
                <h4>Vietnam Dragon Tours</h4>
                <p>
                    <strong>Add : </strong>10 Hang Muoi Street, old quarter, Hanoi Vietnam</p>
                <p>
                    <strong>Tel : </strong>024 3926 4555</p>
                <p>
                    <strong>Website</strong>
                    <a href="">www.vietnamdragontours.com</a>
                </p>
                <p>
                    <strong>Email : </strong>vietnamdragontours@gmail.com</p>
                <p>The reservation is effective only when you already reconfirmed it and transfer a certain deposit to SINHCAFE TRAVEL.</p>
                <p><strong>+Confirmation</strong></p>
                <p>You should reconfirm your reservation and send deposit to Sinhcafe Travel at least 10 working days before your arrival in
                Vietnam. Your reservation is effective only when you have done this confirmation already.</p>
                <p><strong>+Cancellation</strong></p>
                <p>If a client decides not to participate in the tour the deposit will be forfeited to cover communication expenses and cancellation
                charges. f you cancel 30 days before your arrival, we will refund you the full deposit amount. 10 -20 days before your arrival,
                we will charge 50% of the deposit amount 7 days before your arrival, we will charge the full deposit amount.</p>
                <p><strong>+Deposits</strong></p>
                <p>Viet Nam Dragon Travel must receive a deposit from the client as 20% of total tour cost at least 7 working days before the client's
                arrival. Deposit should be sent by bank draft or transfer to bank account of Sinhcafe Travel.</p>
                <p><strong>+Payment</strong></p>
                <p>After customers arrive in Vietnam the balance will be regulated or transferred to our bank account of VietnamOpentour:</p>
                <ul>
                    <li>Beneficiary name: <strong>Asia Pacific Travel Co., ltd.</strong></li>
                    <li>Beneficiary address: <strong>Add : 66 Hang Than St - BaDinh District , HANOI - VIETNAM</strong></li>
                    <li>Beneficiary Account number: <strong>Beneficiary Account number: 0021.370.748. 008</strong></li>
                    <li>Bank name: <strong>Joint Stock Commercial Bank for Foreign Trade of Vietnam - Thang Long Branch</strong></li>
                    <li>Bank Address: <strong>98 Hoang Quoc Viet st, Cau Giay Dist - Ha Noi, Vietnam</strong></li>
                    <li>Website: <a href="http:\\ www.vietcombank.com.vn">Website: www.vietcombank.com.vn</a></li>
                    <li>Swift code or Bank code for transfer: <strong>B F T V V N V X 0 4 9</strong></li>
                    <li><strong>Note: bank fees is on your side (Please choose OUR fees and take note "NO DEDUCTION" or "FULL VALUE")</strong></li>

                </ul>
                <p>Credit transfer of which expenses are with the load of Client/Agency will be carried out through the above account</p>
                <p><strong>+ Liquid:</strong> only after the agreement of the two parts</p>
                <p><strong>+ Travellers'cheque:</strong> only after the agreement of the two parts; 2.5% of expenses are with the load of Client/ Agency</p>
                <p><strong>+ For paying by credit card, please fill in the form below, fax or email to us ( this is the better way for payment)</strong></p>
                <table width="100%" border="1" cellpadding="0" cellspacing="0" style="width: 90%;">
                    <tbody>
                        <tr>
                            <td width="168" valign="top" class="style13 style7 style5 style9">Customer name*</td>
                            <td width="168" valign="top" class="style13 style7 style5 style9">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="168" valign="top" class="style13 style7 style5 style9">E-mail*</td>
                            <td width="168" valign="top" class="style13 style7 style5 style9">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="168" valign="top" class="style13 style7 style5 style9">Phone number*</td>
                            <td width="168" valign="top" class="style13 style7 style5 style9">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="168" valign="top" class="style13 style7 style5 style9">Fax</td>
                            <td width="168" valign="top" class="style13 style7 style5 style9">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="168" valign="top" class="style13 style7 style5 style9">Address*</td>
                            <td width="168" valign="top" class="style13 style7 style5 style9">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="168" valign="top" class="style13 style7 style5 style9">City*</td>
                            <td width="168" valign="top" class="style13 style7 style5 style9">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="168" valign="top" class="style13 style7 style5 style9">Country*</td>
                            <td width="168" valign="top" class="style13 style7 style5 style9">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="168" valign="top" class="style13 style7 style5 style9">Receiver address</td>
                            <td width="168" valign="top" class="style13 style7 style5 style9">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>Fax number: (+0084.4) 3756 7862 International</p>
                <p>We would like to clarify the amount of money ... (by credit card with <strong>exchange fee</strong>:</p>
                <p><strong>2% for Visa/ Master card,</strong></p>
                <p>
                    <strong>3% for Amex/ JCB card,</strong>
                </p>
                <p>
                    <strong>free for Domestic card)</strong>
                </p>
                <p>
                    <strong>+ For secure payment online through www.onepay.vn (Vietnamese secure payment system with exchange fees:</strong>
                </p>
                <p>
                    <strong>3% for Visa/ Master card,</strong>
                </p>
                <p>
                    <strong>4% for Amex/ JCB card,</strong>
                </p>
                <p>
                    <strong>1% for Domestic card).</strong>
                </p>
                <p>
                    <strong>Please fill in the form below:</strong>
                </p>
                <table width="100%" border="1" cellpadding="0" cellspacing="0" style="width: 90%;">
                    <tbody>
                        <tr>
                            <td width="168" valign="top" class="style13 style7 style5 style9">Customer name*</td>
                            <td width="168" valign="top" class="style13 style7 style5 style9">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="168" valign="top" class="style13 style7 style5 style9">E-mail*</td>
                            <td width="168" valign="top" class="style13 style7 style5 style9">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="168" valign="top" class="style13 style7 style5 style9">Phone number*</td>
                            <td width="168" valign="top" class="style13 style7 style5 style9">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="168" valign="top" class="style13 style7 style5 style9">Fax</td>
                            <td width="168" valign="top" class="style13 style7 style5 style9">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="168" valign="top" class="style13 style7 style5 style9">Address*</td>
                            <td width="168" valign="top" class="style13 style7 style5 style9">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="168" valign="top" class="style13 style7 style5 style9">City*</td>
                            <td width="168" valign="top" class="style13 style7 style5 style9">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="168" valign="top" class="style13 style7 style5 style9">Country*</td>
                            <td width="168" valign="top" class="style13 style7 style5 style9">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="168" valign="top" class="style13 style7 style5 style9">Receiver address</td>
                            <td width="168" valign="top" class="style13 style7 style5 style9">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>Once receiving your information, we will send you a secure link for payment online.</p>
                <p>Note: (*) means necessary information.</p>
                <p><strong>+Insurance</strong></p>
                <p>Upon request. Insurance fees is 1.5USD/day/ person, cover with accident insurance up to 10000 USD (Ten thousands US dollars)
                at Vietnam Insurance Company (BaoViet ).</p>
                <p><strong>+Meals</strong></p>
                <p>Breakfast is not always included. We let you have more choices of lunch or dinner and your total tour cost can be reduced.
                Generally in remote areas you should let Sinhcafe travel take care of your meals because it probably quite difficult for
                you to arrange it on your own.</p>
                <p><strong>+Budget hotels: </strong>Generally these are small guest houses or minihotels: basic room with or without A/C, private bathroom</p>
                <p><strong>+Standard hotels: </strong>The predominant level of accommodation. A/C, satellite T.V, adequate restaurant for breakfast if not lunch and dinner, IDD
                line at reception, worthy of 2stars to 3 stars international hotel .</p>
                <p><strong>+Deluxe hotels: </strong>Worthy of 3stars to 5 stars international hotel. A/C, 24 hour room service, often large rooms and good views, choice of oriental
                and western cuisine, IDD lines in each room, business centre, etc.</p>
                <p><strong><em>NOTE : </em></strong>In some areas, especially in remote areas, there is no choice of standard or Deluxe hotels, but sometimes there is only Budget,
                and there is only guest house with basic condition.</p>
            </div>
            <div class="col-xs-12 col-md-3">
                <h4 style="border-bottom : 1px dashed  black">CATEGORY TOURS</h4>
                <select name="maximenuckdropselect" class="input-medium" onchange="top.location.href=this.options[this.selectedIndex].value"
                    class="">
                    <option value="/">Home</option>
                    <option value="/vietnam-tours">VietNam Tours</option>
                    <option value="/vietnam-tours/daily-tours">- Daily Tours</option>
                    <option value="/vietnam-tours/vietnam-package-tours">- Vietnam Package Tours</option>
                    <option value="/vietnam-tours/vietnam-adventure-tours">- Adventure Tours</option>
                    <option value="/vietnam-tours/halong-bay-cruise">- Halong bay cruises</option>
                    <option value="/vietnam-tours/mekong-delta-tours">- Mekong Delta Tours</option>
                    <option value="/vietnam-tours/opentour-budget-travel">- Opentour &amp; Budget Travel</option>
                    <option value="/vietnam-tours/exclusive-tours">- Exclusive Tours</option>
                    <option value="/vietnam-tours/muslam-tours">- Muslam Tours</option>
                    <option value="/vietnam-tours/cycling-trekking-tours">- Cycling &amp; Trekking Tours</option>
                    <option value="/vietnam-tours/vietnam-golf-holidays">- Golf Holidays</option>
                    <option value="/vietnam-tours/eco-tours">- Eco Tours</option>
                    <option value="/vietnam-tours/vietnam-beach-holidays">- Beach Holidays</option>
                    <option value="/vietnam-tours/vietnam-culinary-tours">- Culinary Tours</option>
                    <option value="/vietnam-tours/indochia-tours">- Indochina Tours</option>
                    <option value="/vietnam-tours/responsible-travel">- Responsible Travel</option>
                    <option value="/package-tours">Package Tours</option>
                    <option value="/package-tours/vietnam-tours">- Vietnam Tours</option>
                    <option value="/package-tours/indochina-tours">- Indochina Tours</option>
                    <option value="/package-tours/cambodia-tours">- Cambodia Tours</option>
                    <option value="/package-tours/laos-tours">- Laos Tours</option>
                    <option value="/package-tours/myanmar-tours">- Myanmar Tours</option>
                    <option value="/daily-tours">Daily Tours</option>
                    <option value="/daily-tours/daily-tours-from-hanoi">- Daily Tours from Hanoi</option>
                    <option value="/daily-tours/daily-tours-from-hochiminh-city">- Daily Tours from Hochiminh city</option>
                    <option value="/daily-tours/daily-tours-from-hoian">- Daily Tours from Hoian</option>
                    <option value="/daily-tours/daily-tours-from-danang">- Daily Tours from Danang</option>
                    <option value="/daily-tours/daily-tours-from-nhatrang">- Daily Tours from Nhatrang</option>
                    <option value="/daily-tours/daily-tours-from-hue">- Daily Tours from Hue</option>
                    <option value="/daily-tours/daily-tours-from-da-lat">- Daily Tours From DaLat</option>
                    <option value="/cruises">Cruises</option>
                    <option value="/cruises/cruise-halong-bay">- Cruise Halong Bay</option>
                    <option value="/cruises/cruise-mekong-delta-tours">- Cruise Mekong Delta Tours</option>
                    <option value="/cruises/boat-trip-hoian-river">- Boat trip Hoian River</option>
                    <option value="/cruises/cruise-nhatrang">- Cruise Nhatrang</option>
                    <option value="/cruises/cruise-cambodia">- Cruise Cambodia</option>
                    <option value="/cruises/cruise-laos">- Cruise Laos</option>
                    <option value="/adventures">Adventures</option>
                    <option value="/exclusive-tours">Exclusive Tours</option>
                    <option value="/exclusive-tours/home-stay-thien-phuc">- Home stay Thien Phuc</option>
                    <option value="/exclusive-tours/tanmai-island-on-black-river-hoabinh">- TanMai Island on Black River HoaBinh</option>
                    <option value="/exclusive-tours/na-hang-chiem-hoa">- Na Hang – Chiem Hoa</option>
                    <option value="/exclusive-tours/eco-red-river-tour">- Eco Red River tour</option>
                    <option value="/open-tours">Open Tours</option>
                    <option value="/special-offers">Special offers</option>
                    <option value="/special-offers/vietnam-tour-set-departure-12-days">- Vietnam Tour set departure 12 days</option>
                    <option value="/special-offers/vietnam-tour-set-departure-14-days">- Vietnam Tour set departure 14 days</option>
                    <option value="/special-offers/vietnam-tour-set-departure-16-days">- Vietnam Tour set departure 16 days</option>
                </select>
            
                <div class="group_gallery">
                    <p>
                        <strong> Galleries</strong>
                    </p>
                    <ul>
                        <li>
                            <a href="">Photos Gallery</a>
                        </li>
                        <li>
                            <a href="">Clients photos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>