<div id="visaServer">
    <div class="container">
        <div class="heading_title">
            <h3>VISA SERVICE</h3>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-9">
                <div class="text-center">
                    <h4>Visa on Arrival to Vietnam at International Airports</h4>
                    <p>( Hanoi NoiBai airport - Saigon TanSan Nhat airport - Danang airport )</p>
                    <p>Hotline for any visa request : + 84 913224473 ( Mr. Nam )</p>
                </div>
                <div class="info_visa_case">
                    <h4>Visa on arrival to Vietnam cost for normal case ( US$22 /pax ) - 5 working days</h4>
                    <ul>
                        <li> Kind of visa : Tourist Visa</li>
                        <li> Maximum length of stay: 30 days for foreign tourists and 90 days for oversea Vietnamese.</li>
                    </ul>
                </div>

                <div class="info_visa_case">
                    <h4>Visa on arrival urgent case cost ( US$35/pax ) - 1 working day, in some cases we can arrange in a half of working day - 5
                    working hours ( Vietnamese time )</h4>
                    <ul>
                        <li>Kind of visa : Tourist Visa</li>
                        <li>Maximum length of stay: 30 days for foreign tourists and 90 days for oversea Vietnamese.</li>
                    </ul>
                </div>
                <h4>Visa procedure</h4>
                <p>Most visitors to Vietnam need a visa to enter the country. Visas are exempted for the citizens of the</p>
                <p>countries, which have signed a bilateral or unilateral visa exemption agreement with Vietnam, tourist visa may be valid for
                15 to 30 days.</p>
                <p><strong>We would like to offer 8 steps to get Visa on arrival to Vietnam.</strong></p>
                <p><strong>Step 1 : Fill in this Visa form</strong></p>
                <p><strong>Step 2 : Copy this form send to us by <a href="mailto:vietnamdragontours@gmail.com">email</a> or fax + 84 24 37567862</strong></p>
                <table border="1" style="width: 100%;" cellspacing="1" cellpadding="1" align="center">
                    <tbody>
                        <tr>
                            <td class="style1" width="271">
                                <p>Full name:</p>
                            </td>
                            <td colspan="2" class="style1">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="style1">
                                <p>Date of birth: &nbsp;(day/month/year)</p>
                            </td>
                            <td colspan="2" class="style1">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="style1">
                                <p>Occupation:</p>
                            </td>
                            <td colspan="2" class="style1">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="style1">
                                <p>Sex:</p>
                            </td>
                            <td colspan="2" class="style1">
                                <p>&nbsp;Male&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    Female</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="style1">
                                <p>Nationality:</p>
                            </td>
                            <td colspan="2" class="style1">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="style1">
                                <p>Passport Number:</p>
                            </td>
                            <td colspan="2" class="style1">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="style1">
                                <p>Date of expriry: &nbsp; (day/month/year)</p>
                            </td>
                            <td colspan="2" class="style1">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="style1">
                                <p>Proposed entry date :&nbsp; (day/month/year)</p>
                            </td>
                            <td colspan="2" class="style1">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="style1">
                                <p>Proposed exit date: &nbsp;(day/month/year)</p>
                            </td>
                            <td colspan="2" class="style1">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="style1" valign="top">
                                <p>Flight details on arrival:</p>
                            </td>
                            <td colspan="2" class="style1">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="style1" valign="top">
                                <p>Your contacts:&nbsp;&nbsp;</p>
                            </td>
                            <td class="style1" width="58">
                                <p>Fax/Tel:&nbsp;</p>
                            </td>
                            <td class="style1" width="222">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="style1">
                                <p>E-mail:&nbsp;</p>
                            </td>
                            <td class="style1">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table><br>
                <p><strong>Step 3: Payment by credit card - fill in the <a href=""> payment form</a> (<a href="">PFD click here</a> )- this is save & secure.</strong></p>
                <p><strong>Step 4: Send the the payment form by Fax + 84 24 37567862 or email : <a href="mailto:vietnamdragontours@gmail.com">sinhcafetour@hn.vnn.vn</a></strong></p>
                <p><strong>Step 5 : After receiving the payment, we send your Visa request to Immigration Department ( need 1 working days for urgent
                case - 5 working days for normal case )</strong></p>
                <p><strong>Step 6 : You will receive the Visa approval from Police Department by email ( <a href="">see the exemplar</a> )</strong></p>
                <p><strong>Step 7: Print this visa approval for airline check in - need to bring 2 passport photos (size 4x6 cm)</strong></p>
                <p><strong>Step 8 : Show the Visa pre-approval - pay 25 USD (single entry) or 50 USD (multiple entry) for Visa fees to the custom officer
                at the airport in</strong></p>
                <p><strong>Vietnam ( <a href="http://sinhcafe.com/images/about-us/Visa_Form.jpg">you should fill the form below when check in at the custom department in Vietnam</a> )</strong></p>
                <p style="border-bottom : 1px solid black"><strong>Please <a href="/contact-us">contact us</a> if you need any more tours or hotels services in Vietnam</strong></p>
                <h4>Citizens from four European countries given visa exemption</h4>
                <p>Swedish, Norwegian, Danish, and Finnish citizens will be exempted from requiring visas as of May 1 when they enter, exit
                or stay in Viet Nam for less than 15 days. Decision No. 808/2005/QD-BNG issued by the Vietnamese Foreign Ministry on April
                13 stipulates that these countries' citizens must have valid passports for at least three months since they enter Viet Nam,
                return tickets or tickets for a third country. This does not apply to those who have been banned from entering or have not
                been allowed to enter Viet Nam under Vietnamese laws. After entering Viet Nam, if they want to stay more than 15 days, and
                have a valid reason as laid out by Vietnamese agencies, organizations and individuals for the Ministry of Public Security
                and the Foreign Ministry, they will be required to have a visa.</p>
                <h4>Visa exemption:</h4>
                <ul>
                    <li>Not more than 30 days: for citizens of Thailand, Philippines, Malaysia, Singapore, Indonesia and Laos.</li>
                    <li>Not more than 15 days: for citizens of Japan and South Korea, Sweden, Norway, Denmark, Finland. (Vietnamese diplomatic and
                    official passport holders are exempted from visa requirements to enter Japan).</li>
                    <li>French citizens holding valid diplomatic passports are exempt from visa requirements when visiting Vietnam and are allowed
                    to stay for up 3 months at one time or on several visits within six months .</li>
                    <li>Citizens of Chile and Vietnam holding valid diplomatic or official passports from one of the two countries are exempt from
                    needing entry, exit and transit visas in the other's territory and are allowed to stay .for up 60 days on each visit.</li>
                </ul>
                <p> <strong>Note</strong>: There are some countries which could not get visa upon arrival, you need to contact Vietnam Embassy right in your
                country or region.</p>
                <ul>
                    <li>Pakistan, Afghanistan, Srilanka...Middle East Countries.</li>
                    <li>Africa countries such as: Nigeria, Marok, Algerie,</li>
                    <li>South Africa (just get visa in Normal case)</li>
                </ul><br>
                <h4>Vietnam Dragon Tours</h4>
                <p>
                    <strong>Add : </strong>10 Hang Muoi Street, old quarter, Hanoi Vietnam</p>
                <p>
                    <strong>Tel : </strong>024 3926 4555</p>
                <p>
                    <strong>Website</strong>
                    <a href="">www.vietnamdragontours.com</a>
                </p>
                <p>
                    <strong>Email : </strong><a href="mailto:vietnamdragontours@gmail.com">vietnamdragontours@gmail.com</a></p>
            </div> 
            <div class="col-xs-12 col-md-3">
                <h4 style="border-bottom : 1px dashed  black">CATEGORY TOURS</h4>
                <select name="maximenuckdropselect" class="input-medium" onchange="top.location.href=this.options[this.selectedIndex].value"
                    class="">
                    <option value="/">Home</option>
                    <option value="/vietnam-tours">VietNam Tours</option>
                    <option value="/vietnam-tours/daily-tours">- Daily Tours</option>
                    <option value="/vietnam-tours/vietnam-package-tours">- Vietnam Package Tours</option>
                    <option value="/vietnam-tours/vietnam-adventure-tours">- Adventure Tours</option>
                    <option value="/vietnam-tours/halong-bay-cruise">- Halong bay cruises</option>
                    <option value="/vietnam-tours/mekong-delta-tours">- Mekong Delta Tours</option>
                    <option value="/vietnam-tours/opentour-budget-travel">- Opentour &amp; Budget Travel</option>
                    <option value="/vietnam-tours/exclusive-tours">- Exclusive Tours</option>
                    <option value="/vietnam-tours/muslam-tours">- Muslam Tours</option>
                    <option value="/vietnam-tours/cycling-trekking-tours">- Cycling &amp; Trekking Tours</option>
                    <option value="/vietnam-tours/vietnam-golf-holidays">- Golf Holidays</option>
                    <option value="/vietnam-tours/eco-tours">- Eco Tours</option>
                    <option value="/vietnam-tours/vietnam-beach-holidays">- Beach Holidays</option>
                    <option value="/vietnam-tours/vietnam-culinary-tours">- Culinary Tours</option>
                    <option value="/vietnam-tours/indochia-tours">- Indochina Tours</option>
                    <option value="/vietnam-tours/responsible-travel">- Responsible Travel</option>
                    <option value="/package-tours">Package Tours</option>
                    <option value="/package-tours/vietnam-tours">- Vietnam Tours</option>
                    <option value="/package-tours/indochina-tours">- Indochina Tours</option>
                    <option value="/package-tours/cambodia-tours">- Cambodia Tours</option>
                    <option value="/package-tours/laos-tours">- Laos Tours</option>
                    <option value="/package-tours/myanmar-tours">- Myanmar Tours</option>
                    <option value="/daily-tours">Daily Tours</option>
                    <option value="/daily-tours/daily-tours-from-hanoi">- Daily Tours from Hanoi</option>
                    <option value="/daily-tours/daily-tours-from-hochiminh-city">- Daily Tours from Hochiminh city</option>
                    <option value="/daily-tours/daily-tours-from-hoian">- Daily Tours from Hoian</option>
                    <option value="/daily-tours/daily-tours-from-danang">- Daily Tours from Danang</option>
                    <option value="/daily-tours/daily-tours-from-nhatrang">- Daily Tours from Nhatrang</option>
                    <option value="/daily-tours/daily-tours-from-hue">- Daily Tours from Hue</option>
                    <option value="/daily-tours/daily-tours-from-da-lat">- Daily Tours From DaLat</option>
                    <option value="/cruises">Cruises</option>
                    <option value="/cruises/cruise-halong-bay">- Cruise Halong Bay</option>
                    <option value="/cruises/cruise-mekong-delta-tours">- Cruise Mekong Delta Tours</option>
                    <option value="/cruises/boat-trip-hoian-river">- Boat trip Hoian River</option>
                    <option value="/cruises/cruise-nhatrang">- Cruise Nhatrang</option>
                    <option value="/cruises/cruise-cambodia">- Cruise Cambodia</option>
                    <option value="/cruises/cruise-laos">- Cruise Laos</option>
                    <option value="/adventures">Adventures</option>
                    <option value="/exclusive-tours">Exclusive Tours</option>
                    <option value="/exclusive-tours/home-stay-thien-phuc">- Home stay Thien Phuc</option>
                    <option value="/exclusive-tours/tanmai-island-on-black-river-hoabinh">- TanMai Island on Black River HoaBinh</option>
                    <option value="/exclusive-tours/na-hang-chiem-hoa">- Na Hang – Chiem Hoa</option>
                    <option value="/exclusive-tours/eco-red-river-tour">- Eco Red River tour</option>
                    <option value="/open-tours">Open Tours</option>
                    <option value="/special-offers">Special offers</option>
                    <option value="/special-offers/vietnam-tour-set-departure-12-days">- Vietnam Tour set departure 12 days</option>
                    <option value="/special-offers/vietnam-tour-set-departure-14-days">- Vietnam Tour set departure 14 days</option>
                    <option value="/special-offers/vietnam-tour-set-departure-16-days">- Vietnam Tour set departure 16 days</option>
                </select>

                <div class="group_gallery">
                    <p><strong> Galleries</strong></p>
                    <ul>
                        <li>
                            <a href="">Photos Gallery</a>
                        </li>
                        <li>
                            <a href="">Clients photos</a>
                        </li>
                    </ul>
                </div>
            </div> 
        </div>

    </div>
</div>