<div id="bottom_nav">
    <div class="container">
        <div class="grid-container-bottom-nav">
            <div>
                <a href="">Customer Feedback</a>
            </div>
            <div>
                <a href="/ethnic-groups">Ethnic Groups</a>
            </div>
            <div>
                <a href="">Vietnam transports</a>
            </div>
            <div>
                <a href="">Photo Gallery</a>
            </div>
            <div>
                <a href="https://leaveyourdailyhell.com/2011/08/01/travel-the-coast-of-vietnam-by-bus/" target="_blank">Travel history</a>
            </div>
            <div>
                <a href="">Destinations</a>
            </div>
            <div>
                <a href="">Customer photos</a>
            </div>
        </div>
    </div>
</div>

<div id="footer" class="text-center">
    <div class="footer-content">
        <h4>Vietnam Dragon Tours</h4>
        <p>Add : 10 Hang Muoi Street, old quarter, Hanoi Vietnam Tel : 024 3926 4555 Web : www.vietnamdragontours.com Email :vietnamdragontours@gmail.com</p>
    </div>
</div>