<div id="top-nav">
    <div class="container">
        <div class="left">
            <ul class="top-left-nav">
                <li>
                    <a href="/contact-us">Contact Us</a>
                </li>
                <li><a href="">About us</a></li>
                <li><a href="/visa-services">Visa Service</a></li>
                <li><a href="/traveller-s-faq">FAQ</a></li>
                <li><a href="/terms-conditions">Terms $ Conditions</a></li>
            </ul>
        </div>

        <div class="right">
            <img src="http://sinhcafe.com/images/flag_icon/de_flg.png" alt="flag_icon">
            <img src="http://sinhcafe.com/images/flag_icon/fr_flg.png" alt="">
            <img src="http://sinhcafe.com/images/flag_icon/ru_flg.png" alt="">
            <img src="http://sinhcafe.com/images/flag_icon/vn_flg.png" alt="VN">
        </div>
    </div>
</div>


<div id="slideshow">
    
    <div id="vietnamdragontourSlide" class="carousel slide" data-ride="carousel">
        
        <div class="carousel-inner">
            {{!-- <div class="item active">
                <img src="http://culaochamtour.com/wp-content/uploads/Tour-cu-lao-cham-ghep-khach.jpg" alt="" class="img-responsive" style="width : 100%;height : 400px">
            </div> --}}
            <div class="item active">
                <img src="https://ilovehuetour.com/wp-content/uploads/2017/02/visithuevietnam-1140x530.jpg" alt="" class="img-responsive" style="width : 100%;height : 400px">
            </div>
        </div>
    </div>
    
</div>

<div id="bottom-header-nav">
    
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li ><a href="/">HOME</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdownbtn">VIETNAM TOURS <i class="fa fa-caret-down"></i></a>
                    <div class="dropdown-content vietnamTourHover">
                        <div class="grid-container">
                            <div>
                                <a href="">Daily Tour</a>
                            </div>
                            <div>
                                <a href=""> Mekong Delta Tours</a>
                            </div>
                            <div>
                                <a href="">Cycling & Trekking Tours</a>
                            </div>
                            <div>
                                <a href="">Culinary Tours</a>
                            </div>
                            <div>
                                <a href="">Vietnam Package Tours</a>
                            </div>
                            <div>
                                <a href="">Opentour & Budget Travel</a>
                            </div>
                            <div>
                                <a href="">Golf Holidays</a>
                            </div>
                            <div>
                                <a href="">Indochina Tours</a>
                            </div>
                            <div>
                                <a href="">Adventure Tours</a>
                            </div>
                            <div>
                                <a href="">Exclusive Tours</a>
                            </div>
                            <div>
                                <a href="">Eco Tours</a>
                            </div>
                            <div>
                                <a href="">Responsible Travel</a>
                            </div>
                            <div>
                                <a href="">Halong bay cruises</a>
                            </div>
                            <div>
                                <a href="">Muslam Tours</a>
                            </div>
                            <div>
                                <a href="">Beach Holidays</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdownbtn">PACKAGE TOURS <i class="fa fa-caret-down"></i></a>
                    <div class="dropdown-content packageTourHover">
                        <div class="grid-container">
                            <div>
                                <a href="">Vietnam Tours</a>
                            </div>
                            <div>
                                <a href="">Cambodia Tours</a>
                            </div>
                            <div>
                                <a href="">Myanmar Tours</a>
                            </div>
                            <div>
                                <a href="">Indochina Tours</a>
                            </div>
                            <div>
                                <a href="">Laos Tours</a>
                            </div>
                        </div>
                        
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdownbtn">DAILY TOURS <i class="fa fa-caret-down"></i></a>
                    <div class="dropdown-content dailyTourHover">
                        <div class="grid-container">
                            <div>
                                <a href="">Daily Tours from Hanoi</a>
                            </div>
                            <div>
                                <a href="">Daily Tours from Hochiminh city</a>
                            </div>
                            <div>
                                <a href="">Daily Tours from Hoian</a>
                            </div>
                            <div>
                                <a href="">Daily Tours from Danang</a>
                            </div>
                            <div>
                                <a href="">Daily Tours from Nhatrang</a>
                            </div>
                            <div>
                                <a href="">Daily Tours from Hue</a>
                            </div>
                            <div>
                                <a href="">Daily Tours From DaLat</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#">CRUISES <i class="fa fa-caret-down"></i></a>
                    <div class="dropdown-content curiseHover">
                        <a href="">Cruise Halong Bay</a>
                        <a href="">Cruise Mekong Delta Tours</a>
                        <a href="">Boat trip Hoian River</a>
                        <a href="">Cruise Nhatrang</a>
                        <a href="">Cruise Cambodia</a>
                        <a href="">Cruise Laos</a>
                    </div>
                </li>
                <li>
                    <a href="#">ADVENTURES</a>
                </li>
                <li class="dropdown"> 
                    <a href="#">EXCLUSIVE TOURS <i class="fa fa-caret-down"></i></a>
                    <div class="dropdown-content curiseHover">
                        <a href="">Home stay Thien Phuc</a>
                        <a href="">Na Hang – Chiem Hoa</a>
                        <a href="">TanMai Island on Black River HoaBinh</a>
                        <a href="">Eco Red River tour</a>
                    </div>
                </li>
                <li>
                    <a href="#">OPEN TOURS</a>
                </li>
                <li class="dropdown">
                    <a href="#">SPECIAL OFFERS <i class="fa fa-caret-down"></i></a>
                    <div class="dropdown-content specialOfferHover">
                        <a href="">Vietnam Tour set departure 12 days</a>
                        <a href="">Vietnam Tour set departure 14 days</a>
                        <a href="">Vietnam Tour set departure 16 days</a>
                    </div>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
    
</div>